<section class="container mx-auto py-10 px-5">
  <h1 class="text-main text-center text-3xl">Reset Password</h1>
  <div class="flex justify-center items-center gap-3 mt-8">
    @if (step === 1) {
      <form [formGroup]="verifyEmail" (ngSubmit)="forgotPassword()" class="w-full md:w-1/2">
        <app-input
          [control]="verifyEmail.get('email')"
          [typeInput]="'email'"
          [idInput]="'email'"
          [labelInput]="'Enter Your Email'"
        ></app-input>

        <button class="btn mb-1">Verify Email</button>
      </form>
    } @else if (step === 2) {
      <form [formGroup]="verifyCode" (ngSubmit)="confirmCode()" class="w-full md:w-1/2">
        <app-input
          [control]="verifyCode.get('resetCode')"
          [typeInput]="'text'"
          [idInput]="'resetPassword'"
          [labelInput]="'Enter Your Code'"
        ></app-input>

        <button class="btn mb-1">Verify Code</button>
      </form>
    } @else if (step === 3) {
      <form [formGroup]="ResetPassword" (ngSubmit)="resetPassword()" class="w-full md:w-1/2">
        <app-input
          [control]="ResetPassword.get('email')"
          [typeInput]="'email'"
          [idInput]="'email'"
          [labelInput]="'Enter Your Email'"
        ></app-input>

        <app-input
          [control]="ResetPassword.get('newPassword')"
          [idInput]="'password'"
          [labelInput]="'Enter Your Password'"
        >
          <li>✔ At least 8 characters</li>
          <li>✔ At least 1 lowercase letter</li>
          <li>✔ At least 1 uppercase letter</li>
          <li>✔ At least 1 number</li>
          <li>✔ At least 1 special character (@$!%*?&)</li>
          <li>✔ No spaces</li>
        </app-input>

        <button class="btn mb-1">Confirm Password</button>
      </form>
    }
  </div>
</section>
